# Server Configuration
PORT=5000
NODE_ENV=development

# Supabase Database Configuration
DB_USER=postgres.<your-project-id>
DB_HOST=aws-0-<region>.pooler.supabase.com
DB_NAME=postgres
DB_PASSWORD=<your-db-password>
DB_PORT=5432

# Supabase API Configuration
SUPABASE_URL=https://<your-project-id>.supabase.co
SUPABASE_ANON_KEY=<your-anon-key>

# URL API AI Engineer
AI_API_URL=http://localhost:8000/predict-sentiment
